html {
    font-size : 20px;  /* 默认14 */
}
@media only screen and (min-width: 401px){
    html {
        font-size: 25px !important;
    }
}

@media only screen and (min-width: 428px){
    html {
        font-size: 26.75px !important;
    }
}
@media only screen and (min-width: 481px){
    html {
        font-size: 30px !important;
    }
}
@media only screen and (min-width: 569px){
    html {
        font-size: 35px !important;
    }
}
@media only screen and (min-width: 641px){
    html {
        font-size: 40px !important;
    }
}

body,
div {
    margin: 0;
    padding: 0;
}

body {
    background: #c1c3c5;
    overflow: hidden;
}

.screen_container {
    width: 100%;
    margin: 5% 0 0 0;
    padding: 1% 0% 1% 0%;
    border-radius: 20px;
    background: #546463;
    /*height: 340px;*/
    height: 17rem;
}

.screen_body {
    /*margin: 0px 5px 5px 5px;*/
    margin: 0px 0.25rem 0.25rem 0.25rem;
    /*border-radius: 20px;*/
    border-radius: 1rem;
    background: #E6E6E6;
    height: 17rem;
    width: 98%;
}

.Screen {
    width: 100%;
}

.gamepad {
    width: 100%;
    height: 100%;
}

.btn {
    margin-top: 2.5rem;
    width: 4rem;
    height: 1rem;
    background-color: #ffffff;
}

.operateDirectWrap {
    height: 8.5rem;
    width: 8.5rem;
    background-image: url('../static/image/btn_direction_170.png');
    background-repeat: no-repeat;
}

.operateDirectWrap .operateDirect {
    height: 2.8rem;
    width: 8.5rem;
    display: flex;
}

.operateDirectWrap .operateDirect .item {
    width: 33%;
    height: 100%;
}

/*.operateABWrap {*/
    /*height: 5.35rem;*/
    /*width: 6rem;*/
    /*background-image: url('../static/image/btn_AB_120_107.png');*/
    /*background-repeat: no-repeat;*/
/*}*/

/*.operateABWrap .operateAB {*/
    /*height: 3rem;*/
    /*width: 6.25rem;*/
    /*display: flex;*/
/*}*/

/*.operateABWrap .operateAB .item {*/
    /*width: 50%;*/
    /*height: 100%;*/
/*}*/

.operateAreaWrap {
    width: 100%;
    height: 8.5rem;
    display: flex;
}

.operateAreaWrap .operateAreaItem {
    width: 50%;
    height: 100%;
    margin: 1.5rem 0.5rem 0.5rem 1rem;
}

.operateSelectWrap {
    margin-top: 1.5rem;
    height: 2.5rem;
    width: 100%;
    background-image: url('../static/image/btn_ctrl_cn_150_50.png');
    background-repeat: no-repeat;
}

.operateSelectWrap .operateSelect {
    height: 2.5rem;
    width: 7.5rem;
    display: flex;
    /*background-color: violet;*/
}

.operateSelectWrap .operateSelect .item {
    width: 30%;
    height: 100%;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.footer_btn {
    height: 3rem;
    width: 3rem;
    /*border: 1px solid #ffffff;*/
    float: left;
    margin-right: 0.5rem;
    text-align: center;
    background-image: url("../static/image/play_go.png");
}

.footer_play_go {
    background-image: url("../static/image/play_go.png");
}

.footer_play_back {
    background-image: url("../static/image/play_back.png");
}

.footer_btn_none_margin {
    margin-right: 0;
}

.gameListWrap {
    height: 13rem;
    overflow-y: auto;
    border-bottom: 1px solid #ffffff;
}

.gameListWrap .game {
    display: flex;
    width: 96%;
    padding: 1% 2% 0% 2%;
    text-align: center
}

.gameListWrap .game .item {
    width: 20%;
    height: 4rem;
    margin: 0.05rem;
    border: 0.05rem solid #ffffff;
    line-height: 0.5rem;
}

.chooseGame_Y {
    background-color: #77DD05;
    color: #ffffff
}

.chooseGame_N {
    background-color: #ffffff;
    color: black;
}

.drag {
    /* 拖动区域，在js里设置宽高 */
    left: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 10rem;
    margin-bottom: 2.5rem;
}

.joystick {
    /*left: 50%;*/
    bottom: 0;
    position: absolute;
    background-color: #8C8C8C; /* 操作杆背景颜色*/
    border: solid 0.35rem rgba(200, 200, 200, 1); /* 操作杆边框颜色*/
    border-radius: 50%;
    /* 用户不可选择复制控件文本 */
    -webkit-touch-callout: none; /*系统默认菜单被禁用*/
    -webkit-user-select: none; /*webkit浏览器*/
    -khtml-user-select: none; /*早期浏览器*/
    -moz-user-select: none; /*火狐*/
    -ms-user-select: none; /*IE10*/
    user-select: none;
}

.joystick .inside { /* 仅仅是为了美观这里，白色拖动按钮*/
    position: absolute;
    border-radius: 50%;
    border: solid 0.21rem #252525;
    background-color: #822525;
}

.test {
    width: 1.4rem;
    height: 1.4rem;
    left: 50%;
    top: 50%;
    margin: -0.7rem -0.7rem;
    position: absolute;
    background-color: mediumaquamarine;
    border-radius: 40%;
}

.ab {
    position: absolute;
    border-radius: 50%;
    border: solid 0.25rem #252525;
    background-color: #822525;
    height: 1.95rem;
    width: 1.95rem;
    right: 1.4rem;
    bottom: 11rem;
}

.operateABWrap{
    position: absolute;
    width: 6rem;
    height: 5.35rem;
    bottom: 0;
    right: 0;
    margin-bottom: 5.3rem;
    margin-right: 1.5rem;
    background-image: url('../static/image/btn_AB_120_107.png');
    background-repeat: no-repeat;
}
.operateABWrap .operateAB{
    width: 100%;
    display: flex;
}
.operateABWrap .operateAB .item{
    width: 50%;
    height: 5.35rem;
}